<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css">
  <title>She Talks Tech</title>
</head>

<body>
  <div class="wrapper">
    <header>
        <nav class="page-nav" style="background-color: #fbe9f9; min-height: 155px;">
          <div class="nav-wrapper">
            <a href="/">
            <img src="https://github.com/hayleyvuylsteke/she-talks-tech/blob/master/public/assets/she-talks-tech.png?raw=true" style="height:150px" alt="She talks tech logo" href="/">
              </a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/dashboard" style="color: #000; font-weight: bold">DASHBOARD</a></li>
                {{#if loggedIn}}
                <li><a href="/dashboard" style="color:#000; font-weight:bold">ADD A POST</a></li>
                <button id="logout" style="color: #000; font-weight: bold">LOGOUT</button>
                {{else}}
                <li><a href="/login" style="color: #000; font-weight: bold">LOGIN</a></li>
                <li><a href="/signup" style="color: #000; font-weight: bold">SIGNUP</a></li>
                {{/if}}
      </ul>
    </div>
  </nav>
    </header>
    <main>
      <div class="container">
      {{{ body }}}
      </div>
    </main>
<footer class="page-footer page-foot" style="background-color: #fbe9f9;">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <a href="/">
                <img src="https://github.com/hayleyvuylsteke/she-talks-tech/blob/master/public/assets/she-talks-tech.png?raw=true" style="height:150px" alt="She talks tech logo" href="/">
                </a>
                <p style="color:#000">Women supporting other bad a$$ tech women.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 style="color:#000">Helpful resources:</h5>
                <ul>
                  <li><a href="https://www.shecodes.io/" style="color:#000">Shecodes</a></li>
                  <li><a href="https://www.womenwhocode.com/" style="color:#000">Women Who Code</a></li>
                  <li><a href="https://code.likeagirl.io/" style="color:#000">Code like a Girl</a></li>
                  <li><a href="https://codingforher.com/" style="color:#000">Coding for Her</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container"style="color:#000">
            © 2021 Copyright
            </div>
          </div>
        </footer>
  </div>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
<script src="/javascript/auto-logout.js"></script>
{{/if}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>
