<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../../public/assets/css/style.css">
  <title>She Talks Tech</title>
</head>

<body>
  <div class="wrapper">
    <header>
        <nav class="page-nav">
          <div class="nav-wrapper">
            <img src="https://github.com/hayleyvuylsteke/she-talks-tech/blob/master/public/assets/she-talks-tech.png?raw=true" style="height:150px" alt="She talks tech logo" href="/">
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">Dashboard</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/login">Signup</a></li>
                <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
<footer class="page-footer page-foot">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <img src="https://github.com/hayleyvuylsteke/she-talks-tech/blob/master/public/assets/she-talks-tech.png?raw=true" style="height:150px" alt="She talks tech logo" href="/">
                <p class="grey-text text-lighten-4">Insert footer copy about tech talk.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Other helpful women in tech links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">women in tech Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">women in tech Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">women in tech Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">women in tech Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2021 Copyright Text
            </div>
          </div>
        </footer>
  </div>
<script src="/javascript/logout.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>
