<section>
  <h2 style="color:#d19fe4; font-weight:bold">Add to the community</h2>
  <p>Ready to share your thoughts with our community? Have a question you want answered? Create a post and share it with our tech family.</p>
<br>
  <form class="new-post-form">
    <div>
      <label for="post-title">Your post's title:</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-content">Your post's content:</label>
      <input id="post-content" name="post-content" />
    </div>
    <button type="submit" style="background-color: #e831c3" class="btn">Create</button>
  </form>
  <br>
</section>