<h5 style="color:#d19fe4; font-weight:bold">LOGIN</h5>
<p>Already have an account? Sign in below.</p>
<br>
<form class="login-form">
  <div class="input-field col s6">
    <label for="username-login">Username</label>
    <input type="text" id="username-login" placeholder="Username" />
  </div>
  <div>
    <label for="password-login">Password</label>
    <input type="password" id="password-login" placeholder="Password" />
  </div>
  <div>
    <button class="btn" style="background-color: #e831c3" type="submit">LOGIN</button>
  </div>
</form>
<br>
<br>
<!--<h5 style="color:#d19fe4; font-weight:bold">SIGN UP</h5>
<p>Want to start contributing to She Talks Tech? Sign up for an account below.</p>
<br>
<form class="signup-form">
  <div class="input-field col s6">
    <label for="username-signup">Choose a username:</label>
    <input type="text" id="username-signup" placeholder="Username" />
  </div>
  <div>
    <label for="email-signup">Enter your email:</label>
    <input type="text" id="email-signup" placeholder="Email Address" />
  </div>
  <div>
    <label for="password-signup">Choose a password:</label>
    <input type="password" id="password-signup" placeholder="password" />
  </div>
  <div>
    <button class="btn" style="background-color: #e831c3" type="submit">SIGN UP</button>
  </div>
</form> !-->
<br>
<br>
<script src="/javascript/login.js"></script>